$roboto-font-path: "~materialize-css/dist/fonts/roboto/";

@import "loader";
@import "../../../node_modules/materialize-css/sass/materialize";

html, body, #app {
    height: 100%;
}

body {
    min-width: 600px;
}

.dg-avatar {
    width: 100px;
    height: 150px;
}







